<div class="container m-5">

    <h2>Angular Todo List</h2>
    

    <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
    </div>
    
<div class="row">
    
            <form>
                    <div class="col-auto">
                        
                        <input type="text" class="form-control" id="item" placeholder="list add">
                    </div>
                    <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
    
</div>

    
        <div class="row">
            <div class="col-sm-12">

        
                
                <ul class="list-group" *ngFor="let todo of todos">
                    <li class="list-group-item">Serial No:{{todo.sno}} -Title:{{todo.title}}- Description {{todo.description}}</li>
                    
                </ul>
            </div>
        </div>
    
    </div>