
    <div class="alert alert-primary" role="alert">
            A simple primary alert—check it out!
        </div>
        
    <div class="row">
        
                <form (ngSubmit)="onSubmit()">
                        <div class="col-auto">
                            <label for="">Title</label>
                            <input type="text" [(ngModel)]="title" name="title" class="form-control" id="title" placeholder="list add">
                        </div>
                        <div class="col-auto">
                                <label for="">Description</label>
                            
                                <input type="text" [(ngModel)]="description" name="desc" class="form-control" id="description" placeholder="list add">
                            </div>
    
                        <div class="col-auto">
                                <button type="submit" class="btn btn-primary">Add todo</button>
                        </div>
                    </form>
        
    </div>
    